.chart-wrapper {
  /* width: 85%; */
  margin: auto;
}

.title {
  font-size: calc(12px + 1vw);
  color: #424242;
  margin-top: 20px;
  margin-bottom: 10px;
}

.mat-divider {
  margin-top: 20px;
  margin-bottom: 20px;
}
