body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-button {
    margin-top: 11px;
}

.given-role {
    margin-top: 50px;
}

.mat-raised-button {
    margin: 5px;
}

.cancel-btn, .apply-btn {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.remove-button {
    margin: auto 0;
}