<mat-card>
    <mat-card-title>
      <p>You can quickly add your personal work notes here.</p>
    </mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onAddMemo(f)" #f="ngForm">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Memo here!</mat-label>
          <textarea matInput (ngModel)="input_memo" name="input_memo"></textarea>
        </mat-form-field>
        <mat-card-actions>
          <mat-checkbox ngModel name="priorityInput">High priority</mat-checkbox>
          <div class="flex-spacer"></div>
          <button mat-raised-button color="primary" type="submit">Save</button>
        </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
  