<body>
  <div class="header">
    <h2 mat-h2>Admin Only - New User Requests</h2>
  </div>

  <div class="user-list">
    <mat-form-field>
      <mat-label>New requested User List</mat-label>
      <mat-select (selectionChange)="selected($event)" class="selection-list">
        <mat-option *ngFor="let user of users" [value]="user._id">
          {{user.personalInfo.firstName}} {{user.personalInfo.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onView()">View</button>
  </div>

  <br><br><br><mat-divider></mat-divider>

  <div *ngIf="viewable">
    <mat-card class="view-card">
      <p>_id: <b>{{ selectedId }}</b></p>
      <p>First Name: <b>{{ selectedPerson[0].personalInfo.firstName }}</b></p>
      <p>Last Name: <b>{{ selectedPerson[0].personalInfo.lastName }}</b></p>
      <p>Email: <b>{{ selectedPerson[0].personalInfo.email }}</b></p>

      <br><p>Please enter this person's department and position.</p>
      <br>

      <form (ngSubmit)="onApprove(f)" #f="ngForm">
        <mat-form-field class="text-field">
          <mat-label>Department</mat-label>
          <input matInput [(ngModel)]="input_department" name="input_department" placeholder="Enter Department name">
        </mat-form-field>
        <br>
        <mat-form-field class="text-field">
          <mat-label>Job Title</mat-label>
          <input matInput [(ngModel)]="input_jobTitle" name="input_jobTitle" placeholder="Enter Job title">
        </mat-form-field>

        <p><button mat-raised-button color="primary" type="submit">Accept</button></p>
      </form>


    </mat-card>
  </div>
</body>
